<%- layout('./layouts/main.ejs') %>
<link rel="stylesheet" href="../style/compras.css">
<script src="../js/validations.js"></script>
<div class="container-fluid">
    <div class="create-tittle container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>Crear nuevo pedido</h1>
            </div>
        </div>
    </div>
    <div class="create-body">
        <form action="/createPed" method="post" onsubmit="return validarPedido();">
            <div class="container-fluid">
                <div class="text-center row mt-4 fields">
                    <div class="col">
                        <label for="prod" class="form-label ">Seleccione el producto</label><br>
                        <select id="prod" class="form-select" name="product">
                            <option value="noSelect" selected>Productos...</option>
                            <option value="Shampoo">Shampoo</option>
                            <option value="Acondicionador">Acondicionador</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="idDP" class="form-label">Detalle pedido</label><br>
                        <input type="text" class="input-bonito" id="idDP" name="IDDetalleP" readonly>
                    </div>
                    <div class="col">
                        <label for="idPedido" class="form-label">ID Pedido</label><br>
                        <input type="text" id="idPedido" class="input-bonito" name="IDPedido" readonly>
                    </div>
                    <div class="col">
                        <label for="datePedido" class="form-label">Fecha</label><br>
                        <input type="date" id="datePedido" class="input-bonito" name="fechaPedido">
                    </div>
                </div>
                <div class="text-center row mt-4 fields">
                    <div class="col">
                        <label for="client" class="form-label ">Cliente</label><br>
                        <select id="client" class="form-select" name="client">
                            <option value="noSelect" selected>Clientes...</option>
                            <option value="Dylan">Dylan</option>
                            <option value="Johan">Johan</option>
                            <option value="Diego">Diego</option>
                            <option value="Santiago">Santiago</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="precio" class="form-label">Precio</label><br>
                        <input type="text" id="precio" class="input-bonito" name="precio">
                    </div>
                    <div class="col">
                        <label for="cant" class="form-label">Cantidad</label><br>
                        <input type="text" id="cant" class="input-bonito" name="cantidad">
                    </div>
                </div>
                    
            </div>
            <div class="container-fluid">
                <div class="row justify-content-center mt-5">
                    <div class="col text-end">
                        <button type="button" class="cancel-btn" onclick="backPage();">
                            Cancelar
                        </button>
                    </div>
                    <div class="col text-start">
                        <button type="submit" class="acept-btn">
                            Aceptar
                        </button>
                    </div>
                    <div class="col text-start">
                        <button type="button" class="acept-btn">
                            Agregar Producto
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>