<%- layout('./layouts/main.ejs') %>
    <link rel="stylesheet" href="../style/ventas.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="../js/validations.js"></script>
    <div class="container-fluid">
        <div class="row create-tittle">
            <div class="col-12">
                <h1>Crear nueva Venta</h1>
            </div>
        </div>
        <script>
            var total = 0;
            let Users = ["Juan", "Diego", "Johan", "Santiago"];
            let Services = ["Corte de cabello", "Uñas acrílicas", "Tinturado", "Alizado"];
            let Clientes = ["Carlos", "Pedro", "Esteban", "Dario"];

            function loadUsers(idInput, array) {
                let selectUsers = document.getElementById(idInput);
                for (let i = 0; i <= array.length - 1; i++) {
                    let addUser = new Option(array[i], i);
                    selectUsers.appendChild(addUser);
                }

            }

            const servicesAdded = [];

            // Función para obtener los detalles de venta
            function getDetalleVenta() {
                return {
                    detalleVenta: document.getElementById("codigoDetalle").value,
                    idEmpleado: document.getElementById("idEmpleado").value,
                    idServicio: document.getElementById("idServicio").value,
                    costoServicio: document.getElementById("costoServicio").value,
                };
            }

            // Función para agregar detalles de venta al array
            function agregarDetalleVenta() {
                const detalleVenta = getDetalleVenta();
                servicesAdded.push(detalleVenta);

                // Aquí puedes agregar lógica para actualizar la interfaz de usuario si es necesario.
            }

            // Función para crear la solicitud y enviarla al servidor
            function createRequest() {
                const request = {
                    nombreEmpleado: document.getElementById("nombreEmpleado").value,
                    nombreCliente: document.getElementById("nombreCliente").value,
                    idCita: document.getElementById("idCita").value,
                    costoTotalCita: document.getElementById("costoTotalCita").value,
                    fechaVentaServicio: document.getElementById("fechaVentaServicio").value,
                    formaPagoServicio: document.getElementById("formaPago").value,
                    estadoVentaServicio: document.getElementById("estadoVentaServicio").value,
                    detallesVenta: servicesAdded,
                };

                const url = '/createVentaSer';

                const options = {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(request)
                };

                fetch(url, options)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Error en la solicitud: ' + response.status);
                        }
                        Swal.fire('Venta exitosa!', '', 'success', 'Cool');
                    })
                    .then(data => {
                        console.log('Respuesta del servidor:', data);
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            }


            function valueInputCliente(sel, idInput) {
                let nombreCliente = document.getElementById(idInput);
                nombreCliente.value = Clientes[sel];
            }

            function valueInputEmpleado(sel, idInput) {
                let nombreEmpleado = document.getElementById(idInput);
                nombreEmpleado.value = Users[sel];
            }

            function valueInputServicio(sel, idInput) {
                let nombreServicio = document.getElementById(idInput);
                nombreServicio.value = Services[sel];

            }


        </script>


        <% let idVenta; %>
            <% if (venta) { %>
                <% idVenta=venta.idVenta + 1; %>
                    <% } else { %>
                        <% idVenta=1; %>
                            <% }; %>
                                <div class=" row create-body ">
                                    <form action="/createVentaSer" method="post"
                                        onsubmit=" return validarVentaServicio();">
                                        <div class="container-fluid">
                                            <div class="text-center row mt-4 fields">
                                                <div class="col">
                                                    <label for="idEmpleado" class="form-label ">Seleccione
                                                        el</label><br>
                                                    <select id="idEmpleado" class="form-select" name="idEmpleado"
                                                        onchange="valueInputEmpleado(this.value,'nombreEmpleado')">
                                                        <option value="noSelect" selected disabled>Empleado</option>

                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <label for="idCliente" class="form-label ">Seleccione el</label><br>
                                                    <select id="idCliente" class="form-select" name="idCliente"
                                                        onchange="valueInputCliente(this.value,'nombreCliente')">
                                                        <option value="noSelect" selected disabled>Cliente...</option>
                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <label for="idCita" class="form-label">ID Venta
                                                        Servicio</label><br>
                                                    <input type="text" class="input-bonito" id="idCita" name="idCita"
                                                        value="<%= id %>" readonly>
                                                </div>

                                                <div class="col">
                                                    <label for="IDServicio" class="form-label ">Seleccione
                                                        el
                                                    </label><br>
                                                    <select id="idServicio" class="form-select" name="IDServicio"
                                                        onchange="valueInputServicio(this.value,'nombreServicio')">
                                                        <option value="noSelect" selected disabled>
                                                            Servicio...
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <label for="formaPago" class="form-label ">Forma de
                                                        pago</label><br>
                                                    <select id="formaPago" class="form-select" name="pago">
                                                        <option value="noSelect" selected disabled>Pago...
                                                        </option>
                                                        <option value="1">Transferencia</option>
                                                        <option value="2">Efectivo</option>>
                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <label for="estadoVentaServicio"
                                                        class="form-label ">Estado</label><br>
                                                    <select id="estadoVentaServicio" class="form-select"
                                                        name="estadoVentaServicio">
                                                        <option value="noSelect" selected disabled>Estado...
                                                        </option>
                                                        <option value="Pendiente">Pendiente</option>
                                                        <option value="En progreso">En progreso</option>
                                                        <option value="Finalizado">Finalizado</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="text-center row mt-4 fields">
                                                <div class="col">
                                                    <label for="fechaVentaServicio" class="form-label">Fecha</label><br>
                                                    <input type="date" id="fechaVentaServicio" class="input-bonito"
                                                        name="fechaVentaServicio">
                                                </div>
                                                <div class="col">
                                                    <label for="nombreEmpleado" class="form-label">Nombre
                                                        Empleado</label><br>
                                                    <input type="text" id="nombreEmpleado" class="input-bonito" value=""
                                                        name="nombreEmpleado" readonly>
                                                </div>
                                                <div class="col">
                                                    <label for="nombreCliente" class="form-label">Nombre
                                                        Cliente</label><br>
                                                    <input type="text" id="nombreCliente" class="input-bonito" value=""
                                                        name="nombreCliente" readonly>
                                                </div>
                                                <div class="col">
                                                    <label for="costoTotalCita" class="form-label">Costo
                                                        Servicio</label><br>
                                                    <input type="number" id="costoServicio" class="input-bonito sumar"
                                                        name="costoTotalCita" onchange="sumar(this.value)">
                                                </div>
                                                <div class="col">
                                                    <label for="nombreServicio" class="form-label">Nombre
                                                        servicio</label><br>
                                                    <input type="text" id="nombreServicio" class="input-bonito" value=""
                                                        name="nombreServicio" readonly>
                                                </div>
                                                <div class="col">
                                                    <label for="costoTotalCita" class="form-label">Costo
                                                        Total</label><br>
                                                    <input type="text" id="costoTotalCita" class="input-bonito"
                                                        name="costoTotalCita">
                                                </div>
                                            </div>
                                        </div>
                                        <div name="detallesVenta" id="detallesVenta">
                                            <div id="cantidadDetalle" style="display: none;">
                                                <div class="text-center row mt-4 fields" id="formDetalleVenta">
                                                    <div class="col">
                                                        <label for="codigoDetalle" class="form-label">Detalle de
                                                            Venta</label><br>
                                                        <input type="text" name="detalleVenta"
                                                            class="input-bonito codigo-detalle-venta" value="1"
                                                            id="codigoDetalle" disabled>
                                                    </div>
                                                    <div class="col">
                                                        <label for="idEmpleado" class="form-label ">Seleccione
                                                            el</label><br>
                                                        <select id="idEmpleadoS" class="form-select" name="idEmpleado">
                                                            <option value="noSelect" selected disabled>Empleado</option>
                                                        </select>
                                                    </div>

                                                    <div class="col">
                                                        <label for="IDServicio" class="form-label ">Seleccione
                                                            el
                                                        </label><br>
                                                        <select id="idServicioS" class="form-select" name="IDServicio">
                                                            <option value="noSelect" selected disabled>
                                                                Servicio...
                                                            </option>
                                                        </select>
                                                    </div>

                                                    <div class="col">
                                                        <label for="costoServicio" class="form-label ">Costo
                                                            Servicio</label><br>
                                                        <input type="number" id="costoServicio"
                                                            class="input-bonito sumar" onchange="sumar(this.value)"
                                                            name="costoServicio">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container-fluid">
                                            <div class="row justify-content-center mt-5">
                                                <div class="col text-end">
                                                    <button type="button" class="cancel-btn" onclick="backPage();">
                                                        Cancelar
                                                    </button>
                                                </div>
                                                <div class="col text-start">
                                                    <button type="button"
                                                        onclick="validarVentaServicio(),createRequest()"
                                                        class="acept-btn">
                                                        Aceptar
                                                    </button>
                                                    <button type="button" id="mostrarDetalleButton"
                                                        class="boton-agregar-detalle-Venta  rounded-pill"
                                                        onclick="mostrarCamposDetalleVenta()">
                                                        Agregar detalle
                                                        <i class="fa-solid fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <script>
                                                loadUsers("idEmpleadoS", Users);
                                                loadUsers("idEmpleado", Users);
                                                loadUsers("idCliente", Clientes);
                                                loadUsers("idServicio", Services);
                                                loadUsers("idServicioS", Services);
                                                // Obtén una referencia al botón y al div que contiene los campos
                                                var mostrarDetalleButton = document.getElementById("mostrarDetalleButton");
                                                var cantidadDetalleDiv = document.getElementById("cantidadDetalle");


                                                function duplicate() {
                                                    // Obtén una referencia al div original
                                                    const divOriginal = document.getElementById('detallesVenta');

                                                    // Duplica el div original
                                                    const divDuplicado = divOriginal.cloneNode(true);

                                                    // Modifica los IDs de los inputs dentro del div duplicado
                                                    const inputsDuplicados = divDuplicado.querySelectorAll('input');
                                                    inputsDuplicados.forEach((input, index) => {
                                                        const nuevoID = input.id + '_' + index; // Genera IDs únicos basados en el índice
                                                        input.id = nuevoID;
                                                    });

                                                    // Agrega el div duplicado al documento
                                                    document.body.appendChild(divDuplicado);
                                                }


                                                const mostrarCamposDetalleVenta = () => {
                                                    // Clona el elemento div que contiene los campos
                                                    const cantidadDetalleDiv = document.getElementById("cantidadDetalle");
                                                    const formDetalleVenta = document.getElementById('formDetalleVenta');
                                                    const nuevoFormClonado = formDetalleVenta.cloneNode(true);

                                                    codigoDetalleSum += 1

                                                    cantidadDetalleDiv.value = codigoDetalleSum;

                                                    console.log(formDetalleVenta)

                                                    let formClonado = formDetalleVenta.cloneNode(true)

                                                    detallesVenta.appendChild(formClonado)

                                                    formClonado.id = 'formClonado' + codigoDetalleSum

                                                    const nuevaId = formClonado.id

                                                    let nuevoForm = document.getElementById(nuevaId)

                                                    nuevoForm.querySelector('#codigoDetalle').value = codigoDetalleSum

                                                    // Agrega el formulario clonado al div
                                                    cantidadDetalleDiv.appendChild(nuevoFormClonado);

                                                    const selectDuplicados = formClonado.querySelectorAll('select');
                                                    selectDuplicados.forEach((input, index) => {
                                                        const nuevoID = input.id + '_' + index; // Genera IDs únicos basados en el índice
                                                        input.id = nuevoID;
                                                        input.addEventListener('change', function () {
                                                            //valueInputEmpleado(2, 'nombreEmpleadoS' + '_' + index);
                                                            //handleChange(input); // Puedes pasar el <select> como argumento si lo necesitas
                                                        });
                                                    });

                                                };
                                                // Obtén todos los elementos con la clase "input-numerico"
                                                function sumar(value) {
                                                    const elementosNumericos = document.querySelectorAll('.sumar');

                                                    // Inicializa una variable para almacenar la suma

                                                    let totalInput = document.getElementById('costoTotalCita');
                                                    total = 0;
                                                    // Itera sobre los elementos y suma sus valores
                                                    elementosNumericos.forEach((elemento) => {
                                                        const valorNumerico = parseFloat(elemento.value); // Convierte el valor a número
                                                        if (!isNaN(valorNumerico)) {
                                                            total += valorNumerico;
                                                        }
                                                    });

                                                    console.log('La suma total es:', total);
                                                    totalInput.value = total
                                                }

                                                function handleChange(select) {

                                                }



                                            </script>
                                    </form>
                                </div>