<%- layout('./layouts/main.ejs') %>
    <link rel="stylesheet" href="../style/ventas.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="../js/validations.js"></script>
    <div class="container-fluid">
        <div class="row create-tittle">
            <div class="col-12">
                <h1>Crear nueva Venta</h1>
            </div>
        </div>
        <script>
            var total = 0;
            let Users = ["Juan", "Diego", "Johan", "Santiago"];
            let Services = ["Corte de cabello", "Uñas acrílicas", "Tinturado", "Alizado"];
            let Clientes = ["Carlos", "Pedro", "Esteban", "Dario"];

            function loadUsers(idInput, array) {
                let selectUsers = document.getElementById(idInput);
                for (let i = 0; i <= array.length - 1; i++) {
                    let addUser = new Option(array[i], i);
                    selectUsers.appendChild(addUser);
                }

            }

            const servicesAdded = [];

            // Función para obtener los detalles de venta
            function getDetalleVenta() {
                var elemento = document.getElementById("valorServicio");
                var nombreEmpleadoSelect = document.getElementById("idEmpleadoS");
                var nombreServicioSelect = document.getElementById("idServicioS");

                var nombreEmpleado = nombreEmpleadoSelect.options[nombreEmpleadoSelect.selectedIndex].text;
                var nombreServicio = nombreServicioSelect.options[nombreServicioSelect.selectedIndex].text;

                var detalleVenta = document.getElementById("codigoDetalle").value
                var idEmpleado = nombreEmpleadoSelect.value
                var idServicio = nombreServicioSelect.value
                var costoServicio = parseFloat(elemento.value)

                document.getElementById("detalleVentaInput").value = detalleVenta;
                document.getElementById("nombreEmpleadoInput").value = nombreEmpleado
                document.getElementById("nombreServicioInput").value = nombreServicio
                document.getElementById("costoServicioInput").value = costoServicio

                duplicateDetails(detalleVenta, nombreEmpleado, nombreServicio, costoServicio)
                return {
                    detalleVenta,
                    idEmpleado,
                    idServicio,
                    nombreEmpleado, // Guarda el nombre seleccionado
                    nombreServicio, // Guarda el nombre seleccionado
                    costoServicio,

                }
                // Asigna los valores del objeto a los inputs


            }

            // Función para agregar detalles de venta al array
            function agregarDetalleVenta() {
                const detalleVenta = getDetalleVenta();
                servicesAdded.push(detalleVenta);
                //loadDetallesOnDiv(detalleVenta);

                // Asegúrate de que el elemento con id "costoTotalCita" existe en el DOM.
                let costoTotal = document.getElementById("costoTotalCita");

                // Verifica si costoTotal.value es un número válido antes de sumar.
                if (!isNaN(parseFloat(costoTotal.value)) && isFinite(costoTotal.value)) {
                    costoTotal.value = parseFloat(costoTotal.value) + parseFloat(detalleVenta.costoServicio);
                } else {
                    costoTotal.value = parseFloat(detalleVenta.costoServicio);
                }

                console.log(servicesAdded);
            }

            // Función para crear la solicitud y enviarla al servidor
            function createRequest() {
                const nombreEmpleado = document.getElementById("nombreEmpleado").value;
                const nombreCliente = document.getElementById("nombreCliente").value;
                const idCita = document.getElementById("idCita").value;
                const costoTotalCita = document.getElementById("costoTotalCita").value;
                const fechaVentaServicio = document.getElementById("fechaVentaServicio").value;
                const formaPagoServicio = document.getElementById("formaPago").value;
                const estadoVentaServicio = document.getElementById("estadoVentaServicio").value;

                if (
                    nombreEmpleado === "" ||
                    nombreCliente === "" ||
                    idCita === "" ||
                    costoTotalCita === "" ||
                    fechaVentaServicio === "" ||
                    formaPagoServicio === "" ||
                    estadoVentaServicio === ""
                ) {
                    Swal.fire('Por favor, complete todos los campos antes de registrar la venta', '', 'error');
                } else {
                    // Todos los campos están llenos, proceder con la solicitud
                    const request = {
                        nombreEmpleado,
                        nombreCliente,
                        idCita,
                        costoTotalCita,
                        fechaVentaServicio,
                        formaPagoServicio,
                        estadoVentaServicio,
                        detallesVenta: servicesAdded,
                    };
                    console.log(request);
                    const url = '/createVenta';

                    const options = {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(request)
                    };

                    fetch(url, options)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Error en la solicitud: ' + response.status);
                            }
                        })
                        .then(data => {
                            console.log('Respuesta del servidor:', data);
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                }
            }



            function valueInputCliente(sel, idInput) {
                let nombreCliente = document.getElementById(idInput);
                nombreCliente.value = Clientes[sel];
            }

            function valueInputEmpleado(sel, idInput) {
                let nombreEmpleado = document.getElementById(idInput);
                nombreEmpleado.value = Users[sel];
            }

            function valueInputServicio(sel, idInput) {
                let nombreServicio = document.getElementById(idInput);
                nombreServicio.value = Services[sel];

            }


        </script>
        <% let idVenta; %>
            <% if (venta) { %>
                <% idVenta=venta.idVenta + 1; %>
                    <% } else { %>
                        <% idVenta=1; %>
                            <% }; %>
                                <div class=" row create-body ">
                                    <form action="/createVenta" method="post"
                                        onsubmit=" return validarVentaServicio();">
                                        <div class="container-fluid">
                                            <div class="text-center row mt-4 fields">
                                                <div class="col">
                                                    <label for="idEmpleado" class="form-label ">Seleccione
                                                        el</label><br>
                                                    <select id="idEmpleado" class="form-select" name="idEmpleado"
                                                        onchange="valueInputEmpleado(this.value,'nombreEmpleado')">
                                                        <option value="noSelect" selected disabled>Empleado</option>

                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <label for="idCliente" class="form-label ">Seleccione el</label><br>
                                                    <select id="idCliente" class="form-select" name="idCliente"
                                                        onchange="valueInputCliente(this.value,'nombreCliente')">
                                                        <option value="noSelect" selected disabled>Cliente...</option>
                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <label for="idCita" class="form-label">ID Venta
                                                        Servicio</label><br>
                                                    <input type="text" class="input-bonito" id="idCita" name="idCita"
                                                        value="<%= id %>" readonly>
                                                </div>

                                                <div class="col">
                                                    <label for="IDServicio" class="form-label ">Seleccione
                                                        el
                                                    </label><br>
                                                    <select id="idServicio" class="form-select" name="IDServicio"
                                                        onchange="valueInputServicio(this.value,'nombreServicio')">
                                                        <option value="noSelect" selected disabled>
                                                            Servicio...
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <label for="formaPago" class="form-label ">Forma de
                                                        pago</label><br>
                                                    <select id="formaPago" class="form-select" name="pago">
                                                        <option value="noSelect" selected disabled>Pago...
                                                        </option>
                                                        <option value="1">Transferencia</option>
                                                        <option value="2">Efectivo</option>>
                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <label for="estadoVentaServicio"
                                                        class="form-label ">Estado</label><br>
                                                    <select id="estadoVentaServicio" class="form-select"
                                                        name="estadoVentaServicio">
                                                        <option value="noSelect" selected disabled>Estado...
                                                        </option>
                                                        <option value="Pendiente">Pendiente</option>
                                                        <option value="En progreso">En progreso</option>
                                                        <option value="Finalizado">Finalizado</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="text-center row mt-4 fields">
                                                <div class="col">
                                                    <label for="fechaVentaServicio" class="form-label">Fecha</label><br>
                                                    <input type="date" id="fechaVentaServicio" class="input-bonito"
                                                        name="fechaVentaServicio">
                                                </div>
                                                <div class="col">
                                                    <label for="nombreEmpleado" class="form-label">Nombre
                                                        Empleado</label><br>
                                                    <input type="text" id="nombreEmpleado" class="input-bonito" value=""
                                                        name="nombreEmpleado" readonly>
                                                </div>
                                                <div class="col">
                                                    <label for="nombreCliente" class="form-label">Nombre
                                                        Cliente</label><br>
                                                    <input type="text" id="nombreCliente" class="input-bonito" value=""
                                                        name="nombreCliente" readonly>
                                                </div>
                                                <div class="col">
                                                    <label for="costoTotalCita" class="form-label">Costo
                                                        Servicio</label><br>
                                                    <input type="number" id="costoServicio" class="input-bonito sumar "
                                                        name="costoTotal" onchange="sumar(this.value)">
                                                </div>
                                                <div class="col">
                                                    <label for="nombreServicio" class="form-label">Nombre
                                                        servicio</label><br>
                                                    <input type="text" id="nombreServicio" class="input-bonito "
                                                        value="" name="nombreServicio" readonly>
                                                </div>
                                                <div class="col">
                                                    <label for="costoTotalCita" class="form-label">Costo
                                                        Total</label><br>
                                                    <input type="text" id="costoTotalCita" class="input-bonito"
                                                        name="costoTotalCita">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col" id="divDetalles">

                                        </div>
                                        <div class=" col modal fade " id="exampleModal" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" style="max-width: 800px;">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar
                                                            dellates de servicios
                                                        </h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class=" col modal-body">
                                                        <div name="detallesVenta" id="detallesVenta">
                                                            <div id="cantidadDetalle">
                                                                <div class="text-center row mt-4 fields"
                                                                    id="formDetalleVenta">
                                                                    <div class="col">
                                                                        <label for="codigoDetalle"
                                                                            class="form-label">Detalle de
                                                                            Venta</label><br>
                                                                        <input type="text" name="detalleVenta"
                                                                            class="input-bonito codigo-detalle-venta"
                                                                            value="<%= id %>" id="codigoDetalle"
                                                                            disabled>
                                                                    </div>
                                                                    <div class="col">
                                                                        <label for="idEmpleado"
                                                                            class="form-label ">Seleccione
                                                                            el</label><br>
                                                                        <select id="idEmpleadoS" class="form-select"
                                                                            name="idEmpleado">
                                                                            <option value="noSelect" selected disabled>
                                                                                Empleado</option>
                                                                        </select>
                                                                    </div>

                                                                    <div class="col">
                                                                        <label for="IDServicio"
                                                                            class="form-label ">Seleccione
                                                                            el
                                                                        </label><br>
                                                                        <select id="idServicioS" class="form-select"
                                                                            name="IDServicio">
                                                                            <option value="noSelect" selected disabled>
                                                                                Servicio...
                                                                            </option>
                                                                        </select>
                                                                    </div>

                                                                    <div class="col">
                                                                        <label for="costoServicio"
                                                                            class="form-label ">Costo
                                                                            Servicio</label><br>
                                                                        <input type="number" id="valorServicio"
                                                                            class="input-bonito" name="costoServicio">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            id="mostrarDetalleButton" onclick="agregarDetalleVenta()"
                                                            data-bs-dismiss="modal">Guardar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="detallesVentaS">
                                            <div id="cantidadDetalleS" class="text-center row mt-4 fields"
                                                style="display: none;">
                                                <div class="text-center row  fields" id="formDetalleVentaS">
                                                    <div class="col">
                                                        <label for="codigoDetalle" class="form-label">Detalle de
                                                            Venta</label><br>
                                                        <input type="text" name="detalleVenta"
                                                            class="input-bonito codigo-detalle-venta"
                                                            id="detalleVentaInput" readonly>
                                                    </div>
                                                    <div class="col">
                                                        <label for="">Nombre Empleado</label>
                                                        <input type="text" name="nombreEmpleado" class="input-bonito"
                                                            id="nombreEmpleadoInput" readonly>
                                                        </select>
                                                    </div>

                                                    <div class="col">
                                                        <label for="">Nombre Servicio</label><br>
                                                        <input type="text" name="nombreServicio" class="input-bonito"
                                                            id="nombreServicioInput" readonly>
                                                        </select>
                                                    </div>

                                                    <div class="col">
                                                        <label for="">Costo Servicio</label><br>
                                                        <input type="text" name="costoServicio" class="input-bonito"
                                                            id="costoServicioInput" readonly>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="container-fluid">
                                            <div class="row justify-content-center mt-5">
                                                <div class="col text-end">
                                                    <button type="button" class="cancel-btn" onclick="backPage();">
                                                        Cancelar
                                                    </button>
                                                </div>
                                                <div class="col text-start">
                                                    <button type="button"
                                                        onclick="validarVentaServicio(),createRequest()"
                                                        class="acept-btn">
                                                        Aceptar
                                                    </button>
                                                    <button type="button" id="mostrarDetalleButton"
                                                        data-bs-toggle="modal" data-bs-target="#exampleModal"
                                                        class="boton-agregar-detalle-Venta  rounded-pill" onclick="">
                                                        Agregar detalle
                                                        <i class="fa-solid fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <script>
                                                loadUsers("idEmpleado", Users);
                                                loadUsers("idCliente", Clientes);
                                                loadUsers("idServicio", Services);
                                                loadUsers("idEmpleadoS", Users);
                                                loadUsers("idServicioS", Services);
                                                // Obtén una referencia al botón y al div que contiene los campos
                                                var mostrarDetalleButton = document.getElementById("mostrarDetalleButton");
                                                var cantidadDetalleDiv = document.getElementById("cantidadDetalle");

                                                function duplicateDetails(detalleVentaValue, nombreEmpleadoValue, nombreServicioValue, costoServicioValue) {
                                                    var contenedor = document.getElementById("detallesVentaS");

                                                    // Creamos una copia del fragmento de HTML
                                                    var fragmentoHTML = document.createElement("div");
                                                    fragmentoHTML.innerHTML = `
                                                    <div class="text-center mt-4 row fields" id="formDetalleVentaS">
                                                        <div class="col">
                                                            <label for="">ID Detalle Servicio</label>
                                                            <input class="input-bonito" type="text" id="input1" readonly value="">
                                                        </div>
                                                        <div class="col">
                                                            <label for="">Nombre Empleado</label>
                                                            <input class="input-bonito" type="text" id="input2" readonly value="">
                                                        </div>
                                                        <div class="col">
                                                            <label >Nombre Servicio</label> <br>
                                                            <input class="input-bonito" type="text" id="input3" readonly value="">
                                                        </div>
                                                        <div class="col">
                                                            <label >Costo Servicio</label> <br>
                                                            <input class="input-bonito" type="text" id="input4" readonly value="">
                                                        </div>
                                                    </div>
                                                    `;

                                                    // Asignamos valores a los elementos input en la copia
                                                    var input1 = fragmentoHTML.querySelector("#input1");
                                                    var input2 = fragmentoHTML.querySelector("#input2");
                                                    var input3 = fragmentoHTML.querySelector("#input3");
                                                    var input4 = fragmentoHTML.querySelector("#input4");

                                                    input1.value = detalleVentaValue;
                                                    input2.value = nombreEmpleadoValue;
                                                    input3.value = nombreServicioValue;
                                                    input4.value = costoServicioValue;

                                                    // Agregamos la copia al contenedor
                                                    contenedor.appendChild(fragmentoHTML);
                                                }
                                                const mostrarCamposDetalleVenta = () => {
                                                    // Clona el elemento div que contiene los campos
                                                    const cantidadDetalleDiv = document.getElementById("cantidadDetalleS");
                                                    const formDetalleVenta = document.getElementById('formDetalleVentaS');
                                                    const nuevoFormClonado = formDetalleVenta.cloneNode(true);

                                                    codigoDetalleSum += 1

                                                    console.log(formDetalleVenta)

                                                    let formClonado = formDetalleVenta.cloneNode(true)

                                                    formDetalleVenta.appendChild(formClonado)

                                                    formClonado.id = 'formClonado' + codigoDetalleSum

                                                    const nuevaId = formClonado.id

                                                    let nuevoForm = document.getElementById(nuevaId)

                                                    nuevoForm.querySelector('#codigoDetalle').value = codigoDetalleSum

                                                    // Agrega el formulario clonado al div
                                                    cantidadDetalleDiv.appendChild(nuevoFormClonado);

                                                    const selectDuplicados = formClonado.querySelectorAll('select');
                                                    selectDuplicados.forEach((input, index) => {
                                                        const nuevoID = input.id + '_' + index; // Genera IDs únicos basados en el índice
                                                        input.id = nuevoID;
                                                        input.addEventListener('change', function () {
                                                            //valueInputEmpleado(2, 'nombreEmpleadoS' + '_' + index);
                                                            //handleChange(input); // Puedes pasar el <select> como argumento si lo necesitas
                                                        });
                                                    });

                                                };

                                                function sumar(value) {
                                                    //const elementosNumericos = document.querySelectorAll('.sumar');
                                                    // Inicializa una variable para almacenar la suma
                                                    let totalInput = document.getElementById('costoTotalCita');

                                                    if (!isNaN(totalInput.value)) {
                                                        totalInput.value = parseFloat(totalInput.value) + parseFloat(value);
                                                    } else {
                                                        totalInput.value = parseFloat(value);
                                                    }
                                                    console.log('La suma total es:', total);

                                                }

                                                function handleChange(select) {
                                                }
                                            </script>
                                    </form>
                                </div>