<%- layout('./layouts/main.ejs') %>
<link rel="stylesheet" href="../style/servicios.css">
<script src="../js/validations.js"></script>
<div class="container-fluid">
    <div class="create-tittle container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>Crear nuevo servicio</h1>
            </div>
        </div>
    </div>
    


    <% let idCita; %>
    <% if (servicio) { %>
        <% idCita = servicio.idCita + 1; %>
    <% } else { %>
        <% idCita = 1; %>
    <% }; %>
    <script>

        function valueInputEmpleado(sel){
            let nombreEmpleado = document.getElementById("nombreEmpleado");
            if (sel.value == 1){
                nombreEmpleado.value = "Juan";
            }else if (sel.value == 2){
                nombreEmpleado.value = "Diego";
            }else if (sel.value == 3){
                nombreEmpleado.value = "Johan";
            }else if (sel.value == 4){
                nombreEmpleado = "Santiago";
            }
        }
        function valueInputEmpleado1(sel){
            let nombreEmpleado = document.getElementById("nombreEmpleado1");
            if (sel.value == 1){
                nombreEmpleado.value = "Juan";
            }else if (sel.value == 2){
                nombreEmpleado.value = "Diego";
            }else if (sel.value == 3){
                nombreEmpleado.value = "Johan";
            }else if (sel.value == 4){
                nombreEmpleado = "Santiago";
            }
        }

        function valueInputServicio(sel){
            let nombreServicio = document.getElementById("nombreServicio");
            let precioServicio = document.getElementById("precioServicio");
            let duracionServicio = document.getElementById("duracionServicio");
            if (sel.value == 1){
                nombreServicio.value = "Corte de cabello";
                precioServicio.value = 12000;
                duracionServicio.value = 30;
            }else if (sel.value == 2){
                nombreServicio.value = "Uñas acrílicas";
                precioServicio.value = 60000;
                duracionServicio.value = 60;
            }else if (sel.value == 3){
                nombreServicio.value = "Tinturado";
                precioServicio.value = 20000;
                duracionServicio.value = 120;
            }else if (sel.value == 4){
                nombreServicio.value = "Alizado";
                precioServicio.value = 50000;
                duracionServicio.value = 120;
            }
        }
        
    </script>


    <div class="create-body">
        
        <form action="/createSer" method="post" onsubmit="return validarServicio();">
            <div class="container-fluid">
                <div class="text-center row mt-4 fields">
                    <div class="col">
                        <label for="IDCita" class="form-label">ID Cita</label><br>
                        <input type="text" class="input-bonito" id="IDCita" name="IDCita" value="<%= idCita %>" readonly>
                    </div>
                    <div class="col">
                        <label for="IDEmpleado" class="form-label ">Seleccione el Empleado</label><br>
                        <select id="IDEmpleado" class="form-select" name="IDEmpleado" onchange="valueInputEmpleado(this)">
                            <option value="noSelect" selected disabled>Empleado...</option>
                            <option value="1">1. Juan</option>
                            <option value="2">2. Diego</option>
                            <option value="3">3. Johan</option>
                            <option value="4">4. Santiago</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="IDServicio" class="form-label ">Seleccione el Servicio</label><br>
                        <select id="IDServicio" class="form-select" name="IDServicio" onchange="valueInputServicio(this)">
                            <option value="noSelect" selected disabled>Servicio...</option>
                            <option value="1">1. Corte de cabello</option>
                            <option value="2">2. Uñas acrílicas</option>
                            <option value="3">3. Tinturado</option>
                            <option value="4">4. Alizado</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="duracionServicio" class="form-label">Duración Servicio</label><br>
                        <input type="text" class="input-bonito" id="duracionServicio" name="duracionServicio" readonly>
                    </div>
                    <div class="col">
                        <label for="estadoCita" class="form-label ">Estado</label><br>
                        <select id="estadoCita" class="form-select" name="estadoCita">
                            <option value="noSelect" selected disabled>Estado...</option>
                            <option value="1">Pendiente</option>
                            <option value="2">En progreso</option>
                            <option value="3">Finalizado</option>
                        </select>
                    </div>

                </div>
                <div class="text-center row mt-4 fields">
                    <div class="col">
                        <label for="fechaCita" class="form-label">Fecha cita</label><br>
                        <input type="date" id="fechaCita" class="input-bonito" name="fechaCita">
                    </div>
                    <div class="col">
                        <label for="nombreEmpleado" class="form-label">Nombre empleado</label><br>
                        <input type="text" id="nombreEmpleado" class="input-bonito" value="" name="nombreEmpleado" readonly>
                    </div>
                    <div class="col">
                        <label for="nombreServicio" class="form-label">Nombre servicio</label><br>
                        <input type="text" id="nombreServicio" class="input-bonito" value="" name="nombreServicio" readonly>
                    </div>
                    <div class="col">
                        <label for="precioServicio" class="form-label">Precio servicio</label><br>
                        <input type="text" id="precioServicio" class="input-bonito" name="precioServicio">
                    </div>
                    
                </div>
            </div>
            <div id="addServicio">
                
            </div>

            <script>

                function addArray(){
                    let servicioArray = [];
                }


                let contadorCampos = 0;

                function agregarServicio() {
                    let divServicio = document.getElementById("addServicio");

                    let nuevoCampoSet = document.createElement("div");
                    nuevoCampoSet.id = contadorCampos;

                    // HTML de los nuevos campos
                    let nuevoCampoHTML = `
                    <hr style="border: solid 1px black">
                        <div class="row text-center mt-4 fields">
                            <div class="col">
                                <label for="IDEmpleado_${contadorCampos}" class="form-label ">Seleccione el Empleado</label><br>
                                <select id="IDEmpleado_${contadorCampos}" class="form-select" name="IDEmpleado" onchange="valueInputEmpleado1(this)">
                                    <option value="noSelect" selected disabled>Empleado...</option>
                                    <option value="1">1. Juan</option>
                                    <option value="2">2. Diego</option>
                                    <option value="3">3. Johan</option>
                                    <option value="4">4. Santiago</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="IDServicio_${contadorCampos}" class="form-label ">Seleccione el Servicio</label><br>
                                <select id="IDServicio_${contadorCampos}" class="form-select" name="IDServicio" onchange="valueInputServicio(this)">
                                    <option value="noSelect" selected disabled>Servicio...</option>
                                    <option value="1">1. Corte de cabello</option>
                                    <option value="2">2. Uñas acrílicas</option>
                                    <option value="3">3. Tinturado</option>
                                    <option value="4">4. Alizado</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="duracionServicio_${contadorCampos}" class="form-label">Duración Servicio</label><br>
                                <input type="text" class="input-bonito" id="duracionServicio_${contadorCampos}" name="duracionServicio" readonly>
                            </div>
                        </div>
                        <div class="row text-center mt-4 fields">
                            <div class="col">
                                <label for="nombreEmpleado1_${contadorCampos}" class="form-label">Nombre empleado</label><br>
                                <input type="text" id="nombreEmpleado1_${contadorCampos}" class="input-bonito" value="" name="nombreEmpleado1   " readonly>
                            </div>
                            <div class="col">
                                <label for="nombreServicio_${contadorCampos}" class="form-label">Nombre servicio</label><br>
                                <input type="text" id="nombreServicio_${contadorCampos}" class="input-bonito" value="" name="nombreServicio" readonly>
                            </div>
                            <div class="col">
                                <label for="precioServicio_${contadorCampos}" class="form-label">Precio servicio</label><br>
                                <input type="text" id="precioServicio_${contadorCampos}" class="input-bonito" name="precioServicio">
                            </div>
                        </div>
                        <div class="row text-center mt-4 fields">
                            <div class="col">
                                <label class="form-label"></label><br>
                                <input type="button" style="background: #ff6565" class="input-bonito" value="Eliminar" onclick="eliminarCampo(${contadorCampos})">
                            </div>
                        </div>
                    
                    `;

                    // Incrementar el contador de campos
                    contadorCampos++;

                    // Agregar los nuevos campos al elemento contenedor
                    nuevoCampoSet.innerHTML = nuevoCampoHTML;
                    divServicio.appendChild(nuevoCampoSet);
                }

                function eliminarCampo(idCampo) {
                    var campoAEliminar = document.getElementById(idCampo);
                    if (campoAEliminar) {
                        campoAEliminar.parentNode.removeChild(campoAEliminar);
                    }
                }

            </script>
            <div style="background-color: #ff6565;"></div>
            <div class="container-fluid">
                <div class="row justify-content-center mt-5">
                    <div class="col text-end">
                        <button type="button" class="cancel-btn" onclick="backPage();">
                            Cancelar
                        </button>
                    </div>
                    <div class="col text-start">
                        <button type="submit" class="acept-btn">
                            Aceptar
                        </button>
                    </div>
                    <div class="col fields">
                        <input type="button" class="input-bonito" value="Agregar servicio..." onclick="agregarServicio();">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
