<%- layout('./layouts/main.ejs') %>
<br><br><br><br>
<div style="height: 1000px;">
    <div class="col-10 mx-auto">
        <div class="form-floating search">
            <input type="text" class="form-control rounded-pill buscar-proveedor" id="floatingInputInvalid" placeholder="" >
            <label for="floatingInputInvalid" class="label-buscar"><i class="fa-solid fa-magnifying-glass"></i>   Buscar...</label>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-6">
                <h2><b>Productos</b></h2>
                <div class="col">
                    <img src="" alt="" width="95%" height="300px">
                </div>
                <div class="row">
                    <div class="col">
                        <img src="" alt="" width="95%" height="150px">
                    </div>
                    <div class="col">
                        <img src="" alt="" width="95%" height="150px">
                    </div>
                    <div class="col">
                        <img src="" alt="" width="95%" height="150px">
                    </div>
                </div>
                <div class="container-fluid container-paginado">
                    <div>
                        <div class="row">
                            <div class="col d-flex paginado">
                                <a href="">
                                    <i class="fa-solid fa-caret-left"></i>
                                </a>
                                <p>1</p>
                                <a href="">
                                    <i class="fa-solid fa-caret-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <h2><b>Servicios</b></h2>
                <div class="col">
                    <img src="" alt="" width="95%" height="300px">
                </div>
                <div class="row">
                    <div class="col">
                        <img src="" alt="" width="95%" height="150px">
                    </div>
                    <div class="col">
                        <img src="" alt="" width="95%" height="150px">
                    </div>
                    <div class="col">
                        <img src="" alt="" width="95%" height="150px">
                    </div>
                </div>
                <div class="container-fluid container-paginado">
                    <div>
                        <div class="row">
                            <div class="col d-flex paginado">
                                <a href="">
                                    <i class="fa-solid fa-caret-left"></i>
                                </a>
                                <p>1</p>
                                <a href="">
                                    <i class="fa-solid fa-caret-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="text-center">
        <h2>Quienes somos</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non nobis fugiat eos odit consectetur ea ducimus repudiandae totam nesciunt explicabo, error dolores facilis unde magni quo necessitatibus quia fugit optio.</p>
    </div>
</div>
<br>
<div class="card text-center">
    <h1>Buenas tardes, Ingeniero</h1>
    <br>
    <div class="container">
        <img src="./images/Sin título.jpg" alt="">
    </div>
</div>
<br><br><br>
<%- layout('./layouts/footer.ejs') %>

