<%- layout('./layouts/main.ejs'); %>
<%- body %>
<footer>
    <div class="footer" style="background-color: rgb(26,26,26);">
        Contacto <br>
        Teléfono: 4124124 - Correo: matissa@gmail.com - WhatsApp: +57 321 323 2323
    </div>
</footer>
</html>