body{
    overflow-x: hidden;
}

/* edit-User */
.edit-tittle{
    background-color: #3cc3bd;
    color: white;
    text-align: center;
    padding: 10px;
}
.edit-body {
    padding: 10px;
    background-color: #e2d4ff;
}

/*  */

h1{
    font-family: "Merienda";
}
.search {
    margin-top: 20px;
}
.search input {
    box-shadow: 3px 7px 10px black;
}
.create-user {
    text-decoration: none;
}
.create-user i{
    margin-left: 100px;
}

.create-user p{
    width: 300px;
    background-color: #444444;
    height: 100%;
    color: white;
    font-size: 17px;
    padding-top: 15px;
    text-align: center;
    box-shadow: 3px 7px 10px black;
}
body {
    font-family: "Quicksand";
}


/* Table */
.user-list-body{
    overflow: auto;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;

    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #3cc3bd;
}

input:focus + .slider {
    box-shadow: 0 0 1px #3cc3bd;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*Paginado*/
.paginado{
    justify-content: center;
    font-size: 20px;
}

.paginado p{
    margin-right: 15px;
    margin-left: 15px;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
    margin-top: 3px;
    font-size: 15px;
}

.paginado a{
    color: black;
}

.paginado i{
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
}

.container-paginado{
    margin-top: 2%;
}

/* Crear Usuario */

.create-tittle{
    background-color: #3cc3bd;
    color: white;
    font-family: "Merienda";
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid gray;
}

.create-body {
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(58, 58, 58);
    font-weight: bold;
    
}

.md-label {
    padding: 0px 10px;
}
.md-input {
    margin: 0px 10px;
}

.input-bonito {
    height: 38px;
}

.fields input{
    border: 1px solid rgb(88, 88, 88);
    border-radius: 20px;
    text-align: center;
}
.fields select{
    border: 1px solid rgb(88, 88, 88);
    border-radius: 20px;
}
.cancel-btn {
    width: 100px;
    height: 35px;
    padding: 0px 10px 0px 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.34);
    background: #ffffff;
    color: #232323;
    border-color: rgb(88, 88, 88);
    border-width: 1px;
    border-style: solid;
    border-radius: 20px 20px 20px 20px;
    font-weight: bold;
    text-align: center;
}
.acept-btn {
	width: 100px;
	height: 35px;
	padding: 0px 10px 0px 10px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.34);
	background: #444444;
	color: #ffffff;
	border-color: rgb(88, 88, 88);
	border-width: 1px;
	border-style: solid;
	border-radius: 20px 20px 20px 20px;
	font-weight: bold;
	text-align: center;
}


/* Responsive */
@media screen and (max-width: 600px){
    .input-bonito {
        width: 240px;
    }
}

@media screen and (max-width: 400px) {
    .create-user i{
        margin-left: 0;
    }
    .formulario {
        margin: 100px;
    }
    .create-user p {
        width: 300px;
        height: 55px;
    }
    .tittle {
        text-align: center;
        width: 300px;
    }
}

@media screen and (max-width: 400px) {
    .user-list-header {
        margin: 20px;
    }
    .create-tittle h1{
        width: max-content;
        margin-left: 30px;
    }
}


